{% extends 'blog.html' %}


{% block title %}{{config.BLOG_NAME}} :: {{ post.title }}{% endblock %}


{% block content %}
<div class="content">
    <article class="post">
        <header class="post__header">
            <h1 class="post__header-text">
                <a class="post__link" href="{{ url_for('blog.post_page', post_id=post['pid']) }}">
                    {{ post.title }}
                </a>
            </h1>
            <div class="post__date">{{ post.created_at | ru_date}}</div>
        </header>

        <div class="post__content"> {{ post.content | markdown }}</div>

        <section class="post__comments">
            <h1 class="post__comments-header">
                Комментарии ({{comments | length}})
                {# <button class="button post__comments-new">Комментировать</button>#}
            </h1>

            <form action="{{ url_for('blog.create_comment') }}" method="POST" class="comment-form group">
                <input class="comment-form__trap" id="trap" type="text"></label>

                <textarea name="text" class="comment-form__field comment-form__field--text textfield" placeholder="Текст комментария"></textarea>

                <div class="comment-form__field-wrap group">
                    <label class="comment-form__label" for="name">Имя:</label>
                    <input id="name" type="text" class="comment-form__field comment-form__field--name textfield">

                    <label class="comment-form__label" for="email">Почта:</label>
                    <input id="email" type="text" class="comment-form__field comment-form__field--email textfield">

                    <button class="comment-form__submit button" type="submit">Отправить</button>
                </div>
            </form>

            {% if comments %}
                <div class="post__comments-list">
                  {% for comment in comments %}
                      <article class="comment" data-cid="{{comment.cid}}">
                          <div class="comment__header">
                              <a {% if comment.email %} href="mailto:{{comment.email | e}}" {% endif %} class="comment__author">{{ comment.author | e }}</a>
                              @
                              <span class="comment__date">{{comment.created_at | ru_date}}</span>
                          </div>
                          <div class="comment__content">
                              {{ comment.content | e}}
                          </div>
                      </article>
                  {% endfor %}
                </div>
            {% else %}
                <div class="post__comments-none">
                    Комментариев пока нет.
                </div>
            {% endif %}
        </section>
    </article>
</div>
{% endblock %}
