{% extends 'blog.html' %}


{% block title %}BLOG NAME :: {{ post.title }}{% endblock %}


{% block content %}
<div class="content">
    <article class="post">
        <header class="post__header">
            <h1 class="post__header-text">
                <a class="post__link" href="{{ url_for('blog.post_page', post_id=post['pid']) }}">
                    {{ post.title }}
                </a>
            </h1>
            <div class="post__date">{{ post.created_at | ru_date}}</div>
        </header>
        <div class="post__content"> {{ post.content | markdown }}</div>    
        
        <section class="post__comments">
            <form action="" class="comment-form">
                <input class="comment-form__trap" id="trap" type="text"></label>

                <div class="comment-form__field-wrap">
                    <label class="comment-form__label" for="name">Имя:</label>
                    <input id="name" type="text">
                </div>

                <div class="comment-form__field-wrap">
                    <label class="comment-form__label" for="email">Почта:</label>
                    <input id="email" type="text">
                </div>

                <div class="comment-form__field-wrap">
                    <label class="comment-form__label" for="text">Ваш комментарий:</label>
                    <textarea name="" id="text"></textarea>
                </div>

                <button class="comment-form__submit" type="submit">Войти</button>
            </form>
            {% for comment in comments %}
                <div class="comment">
                    <div class="comment__header" data-cid="{{comment.cid}}">
                        <a {% if comment.email %} href="mailto:{{comment.email | e}}" {% endif %} class="comment__author">{{ comment.author | e }}</a>
                        @
                        <span class="comment__date">{{comment.created_at | ru_date}}</span>
                    </div>
                    <div class="comment__content">
                        {{ comment.content | e}}
                    </div>
                </div>
            {% endfor %}

        </section>

    </article>
</div>
{% endblock %}
