<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}"/>
    <title>{% block title %}{{config.BLOG_NAME}} :: Администрирование{% endblock %}</title>
</head>
<body>

<div class="admin">
</div>

<div class="templates">
    <script type="text/template" class="list-template">
        <div class="list">
            <div class="list__header">
                <input type="text" class="list__filter textfield textfield--blue" name="filter" value="" placeholder="Искать..."/>
                <a class="list__new button button--blue" href="#posts/new">Новая запись</a>
            </div>
            <ul class="list__groups">
                <% _.forEach(groups, function(group){ %>
                    <li class="list__group">
                        <h1 class="list__group-header">
                            <%= group.monthYear || 'Без даты' %>
                        </h1>
                        <ul class="list__items">
                            <% _.forEach(group.posts, function(post){ %>
                                <li class="list__item" data-pid="<%= post.get('pid') %>">
                                    <a href="<%= post.postUrl() %>" class="list__item-link" data-pid="<%= post.get('pid') %>">
                                        <%= post.get('created_at') %> :: <%= post.get('title') %>
                                    </a>
                                </li>
                            <% }); %>
                        </ul>
                    </li>
                <% }); %>
            </ul>
        </div>
    </script>

    <script type="text/template" class="editor-template">
        <div class="editor">
            <form class="editor__form">
                <div class="editor__header">
                    <label for="created_at" class="editor__label editor__label--title">
                        <span class="editor__label-text">Заголовок:</span>
                        <input type="text" class="editor__title textfield textfield--blue" name="title" value="<%= title %>" placeholder="">
                    </label>
                    <label for="created_at" class="editor__label editor__label--date">
                        <span class="editor__label-text">Дата:</span>
                        <input type="text" class="editor__created-at textfield textfield--blue" name="created_at"
                            value="<%= created_at %>" placeholder="<%= created_at %>">
                    </label>
                </div>
                <textarea class="editor__content textfield textfield--blue" name="content"><%= content %></textarea>
                <div class="editor__footer">
                    <button class="editor__save button button--blue">Сохранить</button>
                    <span class="editor__unsaved">ОТРЕДАКТИРОВАНО</span>
                    <a class="editor__cancel button" href="#posts">Назад</a>
                </div>
            </form>
        </div>
    </script>
</div>

<div class="scripts">
    <script src="{{ url_for('static', filename='lib/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/underscore-1.7.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/backbone-1.1.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin.js') }}"></script>
</div>

</body>
</html>
