<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}"/>
    <title>{% block title %}{{config.BLOG_NAME}} :: Авторизация{% endblock %}</title>
</head>
<body>

<form class="login-form" action="{{ url_for('auth.login') }}" method="post">
    <div class="login-form__header">Авторизация</div>
    <div class="login-form__field-wrap">
        <input class="login-form__field login-form__field--trap" name="trap" type="text"/>
    </div>
    <div class="login-form__field-wrap">
        <input class="login-form__field login-form__field--user textfield" name="user" type="text" placeholder="Пользователь"/>
    </div>
    <div class="login-form__field-wrap">
        <input class="login-form__field login-form__field--password textfield" name="password" type="password" placeholder="Пароль"/>
    </div>
    <div class="login-form__field-wrap">
        <button class="login-form__submit button" type="submit">Войти</button>
    </div>
</form>

</body>
</html>
