<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <title>{% block title %}BLOG NAME{% endblock %}</title>
</head>
<body>
    <header>
        BLOG HEADER
    </header>

    {% if session['is_admin'] %}
        <div class="is-admin">ОДМИН</div>
    {% endif %}

    <main>
        {% block content %}{% endblock %}
        {% block pagination %}{% endblock %}
    </main>

    <footer>
        BLOG FOOTER
    </footer>
</body>
</html>