<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}"/>
    <title>{% block title %}BLOG NAME{% endblock %}</title>
</head>

<body>
    <header class="header">
        <div class="header__inner">BLOG HEADER</div>
    </header>

    {% if session['is_admin'] %}
        <div class="is-admin">ОДМИН</div>
    {% endif %}

    <main class="main">
        <div class="blog__content">
            {% block content %}{% endblock %}
        </div>
        {% block pagination %}{% endblock %}
    </main>

    <footer>
        BLOG FOOTER
    </footer>
</body>
</html>