<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}"/>
    <title>{% block title %}{{config.BLOG_NAME}}{% endblock %}</title>
</head>

<body>
    <header class="header">
        <div class="header__inner">
            <a class="header__link" href="{{url_for('blog.index_page')}}">{{config.BLOG_NAME}}</a>
        </div>
    </header>

    {% if session['is_admin'] %}
        <div class="is-admin">Админ</div>
    {% endif %}

    <main class="main">
        {% block content %}{% endblock %}
        {% block pagination %}{% endblock %}
    </main>

    <footer class="footer">
        BLOG FOOTER
    </footer>

    <div class="scripts">
        <script src="{{ url_for('static', filename='blog.js') }}"></script>
    </div>
</body>
</html>
