{% extends 'base.html' %}

{% block content %}
{% for post in posts %}
<article>
    <h1>
        <a href="{{ url_for('blog.read_post', post_id=post['pid']) }}">
            {{ post['pid'] }}.{{ post['title'] }}
        </a>
    </h1>
    <div> {{ post['content'] }}</div>
    <hr/>
</article>
{% endfor %}
{% endblock %}


{% block pagination %}
    <hr/>
    {% for page in range(pages_count)%}
        {% if page == current_page %}
            <span>{{ page }}</span>
        {% else %}
            <a href="{{ url_for('blog.page', page_num=page) }}">{{ page }}</a>
        {% endif %}
    {% endfor %}
    <hr/>
{% endblock %}