{% extends 'blog.html' %}

{% block content %}
<div class="content">
    {% for post in posts %}
    <article class="post">
        <header class="post__header">
            <h1 class="post__header-text">
                <a class="post__link" href="{{ url_for('blog.post_page', post_id=post['pid']) }}">
                    {{ post.title }}
                </a>
            </h1>
            <div class="post__date">{{ post.created_at | ru_date}}</div>
        </header>
        <div class="post__content"> {{ post.content | markdown }}</div>
    </article>
    {% endfor %}
</div>
{% endblock %}


{% block pagination %}
    <div class="pagination">
        {% for page in range(pages_count)%}
            {% if page == current_page %}
                <span class="pagination__item pagination__item--current">{{ page }}</span>
            {% else %}
                <a class="pagination__item" href="{{ url_for('blog.index_page', page_num=page) }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}