@font-face {
    font-family: 'Fixedsys';
    src: url('FSEX300.ttf');
}

body {
    background: black;
}


a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    background: #059A9A;
    color: #000000;
}

input, textarea {
    font-family: inherit;
    background: inherit;
    font: inherit;
    color: inherit;
}

.admin {
    font: 16px/1 Fixedsys, monospace;
    background: #3465A4;
    color: #EEEEEC;

    width: 1024px;
    height: 768px;
    display: flex;
}