body {
    font: normal 14px/20px "Open Sans", "Arial", sans-serif;
    /*background: aliceblue;*/
    background: url("wavegrid.png") fixed;
    color: #333;
    width: 800px;
    margin: 0 auto;
}

.is-admin {
    position: fixed;
    background: orangered;
    color: white;
    padding: 20px 10px;
    right: 0;
    top: 50px5;
    font-size: 20px;
    font: 20px Ubuntu;
}

.pagination {
    text-align: center;
    background: #fffffe;
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

.pagination__item {
    display: inline-block;
    color: firebrick;
    border: 1px solid firebrick;
    text-decoration: none;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    margin: 0 2px;
    background: #fff;
    /*box-shadow: 1px 1px 1px rgba(0,0,0,0.3);*/
}

.pagination__item--current {
    background: firebrick;
    color: #fff;
}

.post {
    padding: 20px;
    background: #fffffe;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    margin-bottom: 40px;
    position: relative;
}

.post__header {
}

.post__header-text {
    margin: 0;
    line-height: 30px;
    font-size: 20px;
    margin: -20px -10px 10px -10px;
    padding: 10px;
    border-bottom: 1px dotted #ccc;
    font: 20px/30px "Open Sans", "Arial", sans-serif;
}

.post__link {
    color: firebrick;
    text-decoration: none;
}

.post__date {
    left: 100%;
    height: 40px;
    line-height: 40px;
    position: absolute;
    padding: 10px;
    background: firebrick;
    color: #fff;
    font-size: 15px;
    z-index: -1;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    line-height: normal;
    top: 30px;
    bottom: -20px;
    /*border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;*/
    white-space: nowrap;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #910A0A;
    color: #fff;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    height: 40px;
    font: 30px/40px "Open Sans", "Arial", sans-serif;
    z-index: 100;

    overflow-y: hidden;
}

.header__inner {
    background: firebrick;
    width: 800px;
    margin: 0 auto;
    padding: 0 20px;

    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

.header__link {
    text-decoration: none;
    color: inherit;
}

.main {
    padding-top: 80px;
}

.footer {
    width: 100%;
    background: #B22222;
    color: rgb(255, 255, 255);
    line-height: 40px;
    font-size: 16px;
    padding: 0px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.post__comments {
    margin-bottom: -10px;
}

.comment {
    padding: 9px 10px 10px;
    margin: 0 -10px;
    border-top: 1px dotted #CCC;
}

.comment__header {
    font-weight: bold;
}

.comment__author {
    color: #B22222;
}

.comment__date {}

.comment__content {}

.comment-form {
    /*width: 500px;*/
}
.comment-form__trap {
    display: none;
}
.comment-form__label {
    display: block;
    float: left;
    line-height: 30px;
    width: 80px;
    margin-right: 10px;
    text-align: right;
}
.comment-form__field {
  float: left;
  /*vertical-align: top;*/
}
.comment-form__field--name {
    width: 200px;
}
.comment-form__field--email {
    width: 200px;
}
.comment-form__field--text {
    width: 500px;
    height: 200px;
}
.comment-form__field-wrap {
    margin-bottom: 10px;
}
.comment-form__submit {
    margin-left: 90px;
}
